.salary-container {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.salary-container > * {
  width: 100%;
}

.example-button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
