<form class="salary-container" [formGroup]="salaryForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-select placeholder="Select a country" formControlName="countryCode" name="country" required>
      <mat-option *ngFor="let country of countries" [value]="country.countryCode">
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-datepiker [parentFormGroup]="salaryForm"></app-datepiker>
  <mat-form-field>
    <input type="number" matInput placeholder="Please enter number of days" formControlName="days" required>
  </mat-form-field>
  <mat-form-field>
    <input type="number" matInput placeholder="Please enter daily gross rate" formControlName="grossDailyRate" required>
  </mat-form-field>
  <div style="margin-bottom: 1em">
    <button mat-raised-button color="primary" [disabled]="salaryForm.invalid">Calculate</button> &nbsp;
    Net amount: {{netAmount || "0"}} PLN
  </div>
</form>
