<div [formGroup]="parentFormGroup">
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Please choose an invoice date" formControlName="invoiceDate" [(ngModel)]="today" [max]="maxDate" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>
